* {
    box-sizing: border-box;
    outline: none; //vsetky objekty na kt. sa klikne nebudu mat modry ranik
}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.head-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    margin: 0 auto;
    padding: 0 405px;
    font-weight: 500;
    .free-shipping a {
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(140, 140, 140);
        font-size: 13px;
    }
    & a:hover {
        color: white;
    }
    #navbar-1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;
        background-color: black;
        list-style-type: none;
        a {
            text-decoration: none;
            padding: 7px 20px;
            color: rgb(140, 140, 140);
            font-size: 13px;
            border-right: 1px solid rgb(51, 51, 51);
            border-left: 1px solid rgb(51, 51, 51);
            &.fas {
                color: rgb(140, 140, 140);
            }
        }
        a:hover{
            color:white;
        }
    }
}

.sticked {
    position: sticky;
    top: 0;
    z-index: 50;
}

.head-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    padding: 0 405px;
    & h2 {
        text-transform: uppercase;
        font-weight: Extra-bold;
        margin: 0px;
    }
    & span {
        color: rgb(231, 72, 76);
    }
    .wrap-2 {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        font-size: 20px;
        #navbar-2,
        #navbar-3 {
            display: flex;
            align-items: center;
            margin: 0px;
            padding: 0px;
            & li {
                list-style-type: none;
                padding: 0px;
                & a {
                    white-space: nowrap;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: black;
                    font-size: 13px;
                    font-weight: 500;
                }
            }
        }
        #navbar-2 {
            justify-content: flex-start;
            & li {
                padding-right: 45px;
            }
        }
        #navbar-3 {
            justify-content: flex-end;
            & li {
                padding-left: 30px;
               
            }
        }
    }
}

.part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 700px;
    margin: 0px;
    padding: 0 405px;
    background-image: url("../img/slider_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    & p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    & h2 {
        font-size: 70px;
        margin: 0px;
        font-weight: 400;
        line-height: 1.0;
    }
    & a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 15px;
        font-weight: 500;
        padding: 10px;
        background-color: rgb(231, 72, 76);
        width: 140px;
        text-align: center;
        border-radius: 3px;
        margin-top: 40px;
    }
}

.part-2 {
    display: flex;
    justify-content: space-between;
    height: 265px;
    margin: 30px 0 70px 0;
    padding: 0 405px;
    .women,
    .accessories,
    .men {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 265px;
        width: 350px;
        & .theme {
            position: relative;
            padding: 34% 0;
            text-align: center;
            & a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                background-color: white;
                font-size: 22px;
                font-weight: 600;
                padding: 10px 25px;
            }
        }
    }
    .women {
        background-image: url("../img/banner_1.jpg");
        .theme a {
            padding: 10px 40px;
        }
    }
    .accessories {
        background-image: url("../img/banner_2.jpg");
        margin: 0 30px;
    }
    .men {
        background-image: url("../img/banner_3.jpg");
        .theme a {
            padding: 10px 60px;
        }
    }
}
// -------------------------CART PAGE-------------------------

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container .far{
    font-size: 25px;
    color: rgb(231, 72, 76);
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}
.fas {
    padding: 0 5px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}
.basketTotal {
    width: 10%;
}
//------------------------------CART-----------------------------
.part-3,
.part-5,
.part-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 405px;
    h1 {
        margin: 20px 0 20px 0; //pridal som margin-top: 20px;
        padding: 0px;
        font-size: 40px;
        font-weight: 500;
    }
    #navbar-6 {
        display: flex;
        margin-bottom: 65px;
        padding: 0px;
        & li {
            list-style-type: none;
            & a {
                text-decoration: none;
                text-transform: uppercase;
                border: 1px solid rgb(235, 235, 235);
                border-radius: 3px;
                color: black;
                font-size: 14px;
                padding: 10px 25px;
            }
            .active {
                border: 1px solidrgb(231, 72, 76);
                border-radius: 4px;
                background-color: rgb(231, 72, 76);
                color: white;
                margin: 0px;
                padding: 10px 40px;
            }
        }
    }
    .goodbox-2 {
        margin-bottom: 40px;
    }
    .goodbox-3 {
        margin-bottom: 30px;
    }
    .goodbox-1,
    .goodbox-2,
    .goodbox-3 {
        display: flex;
        justify-content: space-between;
        .goods {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 377px;
            border:2px solid transparent;
            .cart {
                display: flex;
                justify-content: center;
                align-items: center;
                visibility: hidden;
                background-color: rgb(231, 72, 76);
                height: 40px;
                border:none;
                & a {
                    color: white;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 600;
                    text-decoration: none;
                    border:none;
                }

            }
        }
        .goods:hover {
            cursor: pointer;
            border: 2px solid rgb(235, 235, 235);
            box-shadow: 0 4px 20px 0 rgba(218, 217, 217, 0.9), 0 6px 20px 0 rgba(218, 216, 216, 0.4);
            .cart {
                visibility: visible;
            }
        }
        .tool-box {
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            height: 235px;
            width: 235px;
        }
        .pict-1 {
            background-image: url("../img/product_1.png");
        }
        .pict-2 {
            background-image: url("../img/product_2.png");
            //border-left: 1px solid rgb(235, 235, 235);
            //border-right: 1px solid rgb(235, 235, 235);
        }
        .pict-3 {
            background-image: url("../img/product_3.png");
        }
        .pict-4 {
            background-image: url("../img/product_4.png");
            //border-left: 1px solid rgb(235, 235, 235);
            //border-right: 1px solid rgb(235, 235, 235);
        }
        .pict-5 {
            background-image: url("../img/product_5.png");
        }
        .pict-6 {
            background-image: url("../img/product_6.png");
        }
        .pict-7 {
            background-image: url("../img/product_7.png");
            //border-left: 1px solid rgb(235, 235, 235);
            //border-right: 1px solid rgb(235, 235, 235);
        }
        .pict-8 {
            background-image: url("../img/product_8.png");
        }
        .pict-9 {
            background-image: url("../img/product_9.png");
            //border-left: 1px solid rgb(235, 235, 235);
            //border-right: 1px solid rgb(235, 235, 235);
        }
        .pict-10 {
            background-image: url("../img/product_10.png");
        }
        .description {
            p {
                color: black;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .values {
                display: flex;
                justify-content: center;
                margin-bottom: 25px;
                font-weight: 500;
                h4 {
                    color: rgb(231, 72, 76);
                    font-weight: 600;
                    margin: 0px;
                    padding-right: 8px;
                }
                span {
                    color: rgb(181, 174, 195);
                    font-size: 12px;
                    margin-top: 4px;
                }
            }
        }
        //.wall {
            //border-left: 1px solid rgb(235, 235, 235);
            //border-right: 1px solid rgb(235, 235, 235);
        //}
        
    }
}

.part-3 {
    .line {
        margin-bottom: 40px;
    }
}

.part-4 {
    display: flex;
    justify-content: space-between;
    height: 540px;
    padding: 0 405px;
    background-color: rgb(242, 242, 242);
    margin-bottom: 80px;
    .deal-picture {
        position: relative;
        background-image: url("../img/deal_ofthe_week.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 540px;
        width: 540px;
    }
    .box-1 {
        height: 540px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h1 {
            font-size: 40px;
            font-weight: 500;
            margin: 0 0 20px 0;
            padding: 0px;
        }
        & .line {
            margin-bottom: 50px;
        }
        & .timing {
            display: flex;
            margin-bottom: 50px;
            .day,
            .our,
            .minute {
                margin-right: 15px;
            }
            text {
                text-align: center;
            }
        }
        & a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-size: 15px;
            font-weight: 500;
            padding: 10px;
            background-color: black;
            width: 140px;
            text-align: center;
            border-radius: 3px;
        }
    }
}

.part-5 {
    .line {
        margin-bottom: 52px;
    }
    .conditions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        margin-bottom: 80px;
        .shipping,
        .delivery,
        .return,
        .opening {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            background-color: rgb(243, 243, 243);
            padding-left: 22px;
            margin-left: 1px;
            .far,
            .fas {
                color: rgb(231, 72, 76);
                font-size: 30px;
            }
            .info {
                position: relative;
                padding-left: 22px;
                & a {
                    margin: 0px;
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 500;
                }
                & p {
                    margin: 0px;
                    font-size: 12px;
                }
            }
        }
    }
}

.part-6 {
    .line {
        margin-bottom: 35px;
    }
    .trends {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        height: 270px;
        .trend-1,
        .trend-2,
        .trend-3 {
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            height: 255px;
            width: 350px;
        }
        .trend-1:hover,
        .trend-2:hover,
        .trend-3:hover {
            .trend {
                visibility: visible;
            }
        }
        .trend {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 77%;
            width: 80%;
            margin-top: 8%;
            margin-left: 10%;
            background-color: white;
            opacity: 0.9;
            visibility: hidden;
            h2 {
                text-align: center;
                font-weight: 500;
                line-height: 30px;
                margin: 10px 0;
            }
            h5 {
                margin: 0px;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: grey;
            }
            a {
                color: rgb(231, 72, 76);
                background-color: white;
                font-size: 14px;
                font-weight: 500;
                padding-top: 15px;
            }
        }
        .trend-1 {
            background-image: url("../img/blog_1.jpg");
        }
        .trend-2 {
            background-image: url("../img/blog_2.jpg");
            margin: 0 30px;
        }
        .trend-3 {
            background-image: url("../img/blog_3.jpg");
        }
    }
}

.footer-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    height: 120px;
    padding: 0 405px;
    text-align: center;
    .wrap-3 {
        text-align: left;
        margin: 0px;
        & h2 {
            font-weight: 600;
            margin: 0px;
        }
        & h3 {
            margin: 0px;
            color: rgb(140, 140, 140);
            font-size: 14px;
            font-weight: 500;
        }
    }
    .payment {
        display: flex;
        margin: 0px;
        padding: 0px;
        //font-weight: 900;
        input,
        button {
            font-size: 14px;
            border: none;
        }
        input {
            color: black;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 14px;
            width: 350px;
            padding: 10px 0 10px 10px;
            .text::placeholder {
                color: lightgrey;
            }
        
        }
        button {
            background-color: rgb(231, 72, 76);
            width: 60px;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            font-size:20px;
            
        }
    }
}

.footer-2 {
    background-color: rgb(255, 255, 255);
    height: 260px;
    padding: 0 405px;
    .wrap-4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #navbar-4,
        #navbar-5 {
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            padding-left: 0px;
        }
        #navbar-4 {
            display: flex;
            justify-content: flex-start;
            & li {
                padding-right: 50px;
            }
        }
        #navbar-5 {
            display: flex;
            justify-content: flex-end;
            & li {
                padding-left: 35px;
                color: rgb(81, 84, 95);
            }
        }
        & li {
            list-style-type: none;
        }
        & a {
            color: grey;
            font-size: 14px;
            text-decoration: none;
        }
    }
    & span {
        color: rgb(231, 72, 76);
    }
    & p {
        font-size: 14px;
        color: grey;
        margin-top: 60px;
    }
}